commands:
  001_create_swap:
    test: test ! -f /swapfile
    command: dd if=/dev/zero of=/swapfile bs=1M count=1024

  003_make_swap:
    test: test ! -f /swapfile
    command: mkswap /swapfile

  003_chmod_swap:
    test: test ! -f /swapfile
    command: chmod 600 /swapfile

  004_swap_on:
    test: test ! -f /swapfile
    command: swapon /swapfile
